* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
}

.logo {
  width: 100px;
}
.nav-items-ul {
  font-size: 24px;
  display: flex;

  list-style-type: none;
}
.nav-items-ul > li {
  padding: 10px;
  margin: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 500px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.res-card:hover {
  cursor: pointer;
  border: 2px solid rgb(168, 94, 94);
}
.search {
  padding: 10px;
}
.res-image-container {
  margin: 10px;
  padding: 10px;
  width: 220px;
  height: 220px;
}
.res-image {
  width: 100%;
  height: 100%;
}
.res-details > p {
  width: 200px;
}
.res-details {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  white-space: normal; /* Allows text to wrap */
  word-wrap: break-word; /* Break long words */
  gap: 10px;
}

.filter-btn {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: beige;
  border: 1px solid saddlebrown;
  color: chocolate;
  font-size: 15px;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  /* margin: 10px; */
  margin-top: 20px;
  cursor: pointer;
}
.shimmer-container {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 500px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(245, 214, 214);
  color: rgb(97, 90, 84);
  font-size: 15px;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin: 20px;
  cursor: pointer;
}

.filter {
  display: flex;
}
.search-box {
  height: 30px;
  width: 200px;
}
.search-btn {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: beige;
  border: 1px solid saddlebrown;
  color: rgb(43, 40, 40);
  font-size: 15px;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  margin: 10px;
  cursor: pointer;
}
.not-found-container {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
